<html>
	<head>
		<title>修改密码</title>
		<% include ../inc.html %>
	</head>
	<style>
	@-webkit-keyframes rotation {
		0% {
			-webkit-transform: rotate(0);
		}
		100% {
			-webkit-transform: rotate(360deg);
		}
	}	
	.fa-refresh {
	    -webkit-animation: rotation 2s infinite linear;
	    font-size: 20px;
	}
	</style>
	<body>
		<% include ../navbar.html%>
		<div class="relavtive content">
			<h1>修改密码</h1>
			<hr>
			<div class="row">
				<div class="col-md-4">
					<label for="pass">新密码</label>
					<div class="input-group">
						<input type="password" class="form-control" id="pass">
						<span class="input-group-btn">
							<button class="btn btn-default" type="button" data-view data-input="pass">
								<i class="fa fa-eye-slash"></i>&nbsp;
							</button>
						</span>
					</div>
				</div>
			</div>
			<br />
			<div class="row">
				<div class="col-md-4">
					<label for="passagain">再一次输入密码</label>
					<div class="input-group">
						<input type="password" class="form-control" id="passagain">
						<span class="input-group-btn">
							<button class="btn btn-default" type="button" data-view data-input="passagain">
								<i class="fa fa-eye-slash"></i>&nbsp;
							</button>
						</span>
					</div>
				</div>
			</div>
			<br/>
			<button id="change-pass-btn" type="button" class="btn btn-default">确定</button>
			<!--<i class="fa fa-refresh"></i>-->
		</div>
		<script>
			$(document).ready(function() {
				$('[data-view]').click(function() {
					var id = $(this).data("input");
					var input = document.getElementById(id);
					if (input.type == "password") {
						input.type = "text";
						$(this).html('<i class="fa fa-eye"></i>&nbsp;');
					} else {
						input.type = "password";
						$(this).html('<i class="fa fa-eye-slash"></i>&nbsp;')
					}
				});
				$("#change-pass-btn").click(function() {
					$(this).button('loading');
					var that = this;
					setTimeout(function(){
						$(that).button('complete');
						setTimeout(function(){
							$('#myModal').modal('hide');
						}, 500);
					}, 1000);
				});
			});
		</script>	
	</body>
</html>