<html>
	<head>
		<title>修改密码</title>
		<% include ../inc.html %>
	</head>
	<style>
	@-webkit-keyframes rotation {
		0% {
			-webkit-transform: rotate(0);
		}
		100% {
			-webkit-transform: rotate(360deg);
		}
	}	
	.fa-refresh {
	    -webkit-animation: rotation 2s infinite linear;
	    font-size: 20px;
	}
	</style>
	<body>
		<% include ../navbar.html%>
		<div class="relavtive content">
			<h1>修改密码</h1>
			<hr>
			<div class="row">
				<div class="col-md-4">
					<label for="pass">新密码</label>
					<div class="input-group">
						<input type="password" class="form-control" id="pass" require>
						<span class="input-group-btn">
							<button class="btn btn-default" type="button" data-view data-input="pass">
								<i class="fa fa-eye-slash"></i>&nbsp;
							</button>
						</span>
					</div>
				</div>
			</div>
			<br />
			<div class="row">
				<div class="col-md-4">
					<label for="passagain">再一次输入密码</label>
					<div class="input-group">
						<input type="password" class="form-control" id="passagain" require>
						<span class="input-group-btn">
							<button class="btn btn-default" type="button" data-view data-input="passagain">
								<i class="fa fa-eye-slash"></i>&nbsp;
							</button>
						</span>
					</div>
				</div>
			</div>
			<br/>
			<button id="change-pass-btn" type="button" class="btn btn-default" data-loading-text="更新中" data-complete-text="确定">确定</button>
			<!--<i class="fa fa-refresh"></i>-->
			<span class="msg"></span>
		</div>
		<script>
			$(document).ready(function() {
				$('[data-view]').click(function() {
					var id = $(this).data("input");
					var input = document.getElementById(id);
					if (input.type == "password") {
						input.type = "text";
						$(this).html('<i class="fa fa-eye"></i>&nbsp;');
					} else {
						input.type = "password";
						$(this).html('<i class="fa fa-eye-slash"></i>&nbsp;')
					}
				});
				$("#change-pass-btn").click(function() {
					var that = this;
					var pass = $('#pass').val();
					pass = pass.trim();
					var passagain = $('#passagain').val();
					passagain = passagain.trim();
					if (!pass || !passagain) {
						$(".msg").html('密码不能为空');
						return;
					}
					if (pass != passagain) {
						$(".msg").html('两次密码不一致');
						return ;
					}
					if (pass.length < 6) {
						$(".msg").html('密码必须大于或等于6位');
						return ;
					}
					$(".msg").html('');
					$(this).button('loading');

					// 提交服务器更新密码
					$.post('/changePassword.json',{newPassword: pass}, function(res) {
						$('.msg').html(res.message);

						$(that).button('complete');
						}, "json"
					);

				});
			});
		</script>	
	</body>
</html>