
<style>
	#examination .table {
		margin-top: 20px;
	}
	#notify {
		margin-top: 20px;
	}
	.help-block {
			color: #ff0000;
	}
</style>
<!-- Nav tabs -->
<ul class="nav nav-tabs">
  	<li class="active"><a href="#notify" data-toggle="tab">发出的通知 <span class="badge"><%=messages.length%></span></a></li>
  	<li><a href="#examination" data-toggle="tab">发布的考试</a></li>
</ul>

<!-- Tab panes -->
<div class="tab-content">
  	<div class="tab-pane active" id="notify">
  		<button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
		发布新通知
		</button>
		<!-- Modal -->
		<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		  	<div class="modal-dialog">
		    	<div class="modal-content">
		      		<div class="modal-header">
		        		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		        		<h4 class="modal-title" id="myModalLabel">发布新通知</h4>
		      		</div>
		      		<div class="modal-body">
		      			<form role="form">
		      				<div class="form-group">
		      					<label for="msg-title">标题</label>
		        				<input type="text" class="form-control" id="msg-title">
		        				<span class="help-block"></span>
			        		</div>
			        		<div class="form-group">
			        			<label for="msg-body">内容</label>
			        			<textarea class="form-control" rows="3" id="msg-body"></textarea>
			        			<span class="help-block"></span>
			        		</div>
		        		</form>
		      		</div>
			      	<div class="modal-footer">
			        	<button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
			        	<button type="button" class="btn btn-primary" id="send-msg-btn" data-loading-text="发布中..." data-complete-text="发布成功!">发布</button>
			      	</div>
		    	</div><!-- /.modal-content -->
		  	</div><!-- /.modal-dialog -->
		</div><!-- /.modal -->
  		<%include ../msgbox.html%>
  	</div>
  	<div class="tab-pane" id="examination">
  		<table class="table table-bordered">
  			<thead>
			  	<tr>
			  		<th>试卷号</th>
			  		<th>标题</th>
			  		<th>单选题</th>
			  		<th>多选题</th>
			  		<th>判断题</th>
			  		<th>填空题</th>
			  		<th>生成时间</th>
			  		<th>试卷总分</th>
			  	</tr>
			  </thead>
			  <tbody>
					<%for(var i = 0; i < pagerList.length; i++) {%>
						<tr>
							<td><%=pagerList[i].pager_id%></td>
							<td><%=pagerList[i].title%></td>
							<td><%=pagerList[i].singles%></td>
							<td><%=pagerList[i].multiples%></td>
							<td><%=pagerList[i].judges%></td>
							<td><%=pagerList[i].fills%></td>
							<td><%=pagerList[i].create_time%></td>
							<td><%=pagerList[i].grade%></td>
						</tr>
					<%}%>
			  </tbody>
		</table>
  	</div>
</div>
<script>
	$(document).ready(function() {
		$('#send-msg-btn').click(function() {
			
			var that = this;
			var msgTitle = $("#msg-title").val().trim();
			var msgBody = $("#msg-body").val().trim();

			$(".help-block").html("");

			if (!msgTitle) {
				$("#msg-title").next().html('标题不能为空');
				return ;
			}
			if (!msgBody) {
				$("#msg-body").next().html("内容不能为空");
				return;
			}

			$(this).button('loading');

			$.post('/message.json', {
				msgTitle: msgTitle,
				msgBody: msgBody
			}, function(res) {
				$(that).button('complete');
				$('#myModal').modal('hide');
				location.href = '/';
			}, 'json');
		});
	});
</script>