<html>
	<head>
		<title>错误</title>
		<% include inc.html%>
		<script type="text/javascript" src="/libs/validator/validator.min.js"></script>
		<style>
			.msg-wrapper {
				position: absolute;
				top: 50%;
				left: 50%;
				height: 400px;
				width: 600px;
				margin-left: -300px;
				margin-top: -200px;
			}
			.fa-6 {
				font-size: 300px;
			}
			.msg {
				float: left;
				margin-right: 50px;
				height: 300px;
			}
			.msg.body {
				padding-top: 60px;
			}
			.fa-smile-o {
				color: #5cb85c;
			}
			.fa-meh-o {
				color: #ed9c28;
			}
			.fa-frown-o {
				color: #d2322d;
			}
		</style>
	</head>
	<body>
		<div class="content">
			<div class="msg-wrapper">
				<div class="msg">
					<i class="fa fa-frown-o fa-6"></i>
				</div>
				
				<div class="msg body">
					<h1>错误</h1>
					<h4><%=msg%></h4>
					<p><span class="counter">5</span>秒后返回首页</p>
					<a href="/">立即返回</a>
				</div>
			</div>
		</div>
		<% include navbar.html%>
		<script type="text/javascript">
			$(document).ready(function() {
				var time = 5;
				var counter = function() {
					if (time == 0) {
						location.href = "/";
						return;
					}
					time--;
					$('.counter').html(time);
				}
				setInterval(counter, 1000);
			});
			
		</script>
	</body>
</html>