<html>
	<head>
		<title>Blueberry</title>
		<% include inc.html%>
	</head>
	<style>
	.basic-info {
		position: relative;
	}
	.basic-info .avatar {
		position: absolute;
		left: 0;
		top: 0;
		width: 100px;
		height: 100px;
		border-radius: 50%;
		background-position: 50% 50%;
		background-repeat: no-repeat;
		background-size: 100px 100px;
		float: left;
	}
	.basic-info .info {
		margin-left: 120px;
	}
	.basic-info .info div {
		font-weight: normal;
		font-size: 20px;
	}
	.basic-info .info .name {
		font-size: 50px;
	}
	.user-content {
		margin-top: 20px;
	}
	</style>
	<body>
		<% include navbar.html%>
		<div class="relavtive content">
			<div class="basic-info">
				<div class="avatar" style="background-image: url(/photo.jpg);"></div>
				<div class="info">
					<div class="name"><%=user.name%></div>
					<div class="row">
						<%if (user.role == 'student') {%>		
							<h4>请选择左边项目进行操作</h4>
						<%} else {%>
							<div class="col-md-6">
								<h4>请选择左边项目进行操作</h4>
								<div><label>发布的考试: </label><%=pagerList.length%></div>
							</div>
						<%}%>
					</div>
				</div>
			</div>
			<div class="user-content">
				<%if (user.role == 'student') {%>
					<% include profile/student-profile.html%>
				<%} else {%>
					<% include profile/teacher-profile.html%>
				<%}%>
			</div>
		</div>
	</body>
</html>