.app-bar {
	position: fixed;
	left: 0px;
	top:0px;
	bottom: 0px;
	width:65px;
	background-color: #f4f4f4;
	display: block;
}
.app-bar.mouse-enter {
	width: 220px;
}
.app-bar.mouse-enter .main-menu {
	width: 220px;
}
.main-menu {
	position: absolute;
	top: 0px;
	bottom: 40px;
	width: 65px;
	overflow: hidden;
	background-color: #f4f4f4;
}
.main-menu ul {
	list-style: none;
	margin: 0;
	padding: 0;
	padding-top: 100px;
	position: absolute;
	top: 0;
	bottom: 0;
	width: 220px;
	overflow-x: hidden;
	overflow-y: auto;
}
.main-menu ul a {
	font-size: 19px;
	line-height: 52px;
	color: #888;
	display: inline-block;
	width: 100%;
}
.main-menu ul li:hover {
	background-color: #fff;
}
.main-menu ul a:hover{
	color: #555;
}
.main-menu ul li.active a {
	color: #555;
}
.main-menu .icon {
	width: 48px;
	text-align: center;
	margin-right: 10px;
	margin-left: 10px;
}
.main-menu ul a span {
	display: block;
	float: left;
}
.main-menu ul li.active {
	background-color: #fff;
}
.main-menu .fa {
	line-height: 52px;
}
.relative {
	position: relative;
}
.overflow-hidden {
	overflow: hidden;
}
/*
.app-bar, .content, .main-menu, .sub-menu {
	transition: all 0.2s ease-in-out;
}
*/
body .content {
	margin-left: 65px;
	padding: 20px;
	margin-right: 0px;
	height: 100%;
}
body.long-menu .content {
	margin-left: 220px;
}
.content, .sub-menu {
	transition: all 0.2s cubic-bezier(.7, 0, .175, 1) 0s;
}

body.sub-menu-shown .content {
	/*margin-left: 335px;*/
	-webkit-transform: translate(220px, 0);
	transform: translate(220px, 0);
}
/*
body.long-menu.sub-menu-shown .content {
	margin-left: 470px;
}
*/
.app-bar.mouse-enter #logo img {
	position: absolute;
	top: 20px;
	left: 50%;
	margin-left: -30px;
	width: 60px;
	height: 60px;
}
.app-bar #logo img {
	position: absolute;
	top: 50px;
	left: 50%;
	width: 30px;
	height: 30px;
	margin-left: -15px;
	margin-top: -15px;
	transition: 1s all;
}

.app-bar .handler {
	position: absolute;
	bottom: 0px;
	height: 40px;
	text-align: center;
	line-height: normal;
	display: block;
	width: 100%;
	color: #888;
}
.handler:hover {
	background-color: #ccc;
}
.fa-angle-right, .fa-angle-left {
	line-height: 40px;
}
.app-bar .sub-menu {
	display: block;
	position: fixed;
	right: auto;
	bottom: 0;
	width: 0px;
	left: 65px;
	top: 0;
	background-color: #373737;
}
.app-bar.mouse-enter .sub-menu {
	left: 220px;
}
.app-bar .sub-menu ul {
	list-style: none;
	display: block;
	position: absolute;
	top: 0px;
	bottom: 0px;
	width: 100%;
	margin: 0px;
	padding: 0px;
	overflow-y: auto;
	overflow-x: hidden;
}
.app-bar .sub-menu li {
	background-color: #484848;
	line-height: 40px;
	border-bottom: none;
}
.app-bar .sub-menu li a {
	display: block;
	color: #eeeeee;
	padding: 0 12px;
	overflow: hidden;
	text-overflow: ellipsis;
	word-wrap: break-word;
	word-break: break-all;
	position: relative;
	text-decoration: none;
	white-space: nowrap;
}
.app-bar .sub-menu li a:hover {
	color: #fff;
	background-color: #4d4d4d;
	text-decoration: none;
}
.app-bar .sub-menu li.active {
	color: #fff;
	background-color: #4d4d4d;
	text-decoration: none;
}
.app-bar .sub-menu li.title, .app-bar .sub-menu li.footer {
	text-align: center;
	background-color: #515151;
	line-height: 30px;
	color:#959595;
}
.app-bar .sub-menu li.footer {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
}
.absolute {
	position: absolute;
}
.right {
	right: 0px;
}
.app-bar .sub-menu.shown {
	width: 220px;
}
